.header {
  padding-top: 20px;

  @include desktop {
    padding-top: 16px;

    .container {
      margin-inline: 16px;
    }
  }

  @include tablet {
    &__button-text {
      display: none;
    }
  }

  @include mobile {
    justify-content: space-between;
    position: relative;
  }


  &__inner {
    display: flex;
    background-color: var(--color-light);
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;
    height: 80px;

    @include tablet {
      height: 64px;
    }

    @include mobile {
      height: 48px;
    }
  }

  &__logo {
    @include tablet {
      max-width: 80px;
    }

    @include mobile {
      max-width: 70px;
      order: 1;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 6px;

    @include mobile {
      order: -1;
    }
  }

  &__button-menu {
    display: flex;
    column-gap: 8px;

    @include tablet {
        padding: 5px;
    }

    @include mobile {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__button-profile {
    background-image: url('/src/images/profile.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 40px;

    @include tablet {
      background-position: center;
      padding: 0;
      width: 32px;
    }

    @include mobile {
      order: 1;
      margin-left: auto;
    }
  }


  &__menu {
    margin-right: auto;
    font-size: 14px;

    @include desktop {
      font-size: 12px;
    }


    &-list {
      display: flex;
      align-items: center;
      column-gap: 24px;
      margin-inline: 64px;

      @include desktop {
        column-gap: 16px;
        margin-inline: 48px;
      }

      @include tablet {
        column-gap: 12px;
        margin-inline: 32px;
      }
    }

    &-link {
      text-transform: uppercase;
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 52px;

      @include tablet {
        height: 36px;
      }

      @include hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition-duration: inherit;
      }
    }
  }
}