.hero {
  background-image: url('/src/images/3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: clamp(516px, 25vw + 400px, 830px);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
  transition-duration: var(--transition-duration);
  margin-bottom: var(--section-margin-bottom);
  row-gap: 48px;

  @include desktop {
    row-gap: 32px;
  }

  @include tablet {
    row-gap: 24px;
  }

  @include mobile {
    margin-bottom: 42px;
    row-gap: 12px;
    padding: 12px;
    background-image: url('/src/images/3-mobile.jpg');
  }

  &__title {
    color: var(--color-light);
  }

  &__actions {
    display: flex;
    gap: 8px;

    @include mobile {
      flex-direction: column;
      row-gap: 4px;
    }
  }

  &__button {
    flex: 1;

    @include hover {
      color: var(--color-light);
      background-color: var(--color-primary-orange);

      &::after {
        content: '';
        background-image: url('/src/images/right_arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        top: 50%;
        width: 24px;
        height: 24px;

        @include mobile {
          width: 16px;
          height: 16px;
        }
      }
    }

    @include mobile {
      border-radius: var(--border-radius-mobile);
      padding-inline: 14px;
    }
  }
}