.possibilities {

}

.possibility__list {
  display: flex;
  align-items: stretch;
  column-gap: 9px;

  @include mobile {
    flex-direction: column;
    row-gap: 8px;
  }
}

.possibility__item {
  display: flex;
  flex: 1;
  align-items: stretch;


  @include mobile {
    width: 100%;
  }
}