.section {
  border-radius: var(--border-radius);
  margin-bottom: var(--section-margin-bottom);

  @include mobile {
    padding-block: 0;
    margin-bottom: 42px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;

    @include mobile {
      margin-bottom: 21px;
    }

    &-link {
      text-transform: uppercase;
      display: flex;
      column-gap: 12px;

      @include mobile {
        font-size: 12px;
      }
    }
  }

  &__light {
    background-color: var(--color-light);
    padding: 32px;

    @include mobile {
      background-color: transparent;
      padding: 0;
    }
  }
}



