.section {
  padding-block: var(--section-padding-y);
  border-radius: var(--border-radius);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;

    &-link {
      text-transform: uppercase;
      display: flex;
      column-gap: 12px;
    }
  }

  &__light {
    background-color: var(--color-light);
    padding: 32px;
  }
}



