:root {
  --color-light-gray: #ECECEC;
  --color-background: #EFEFEF;
  --color-gray: #C4C4C4;
  --color-dark-gray: #747474;
  --color-light: #FFFFFF;
  --color-dark: #202020;
  --color-primary-orange: #F36722;
  --color-primary-green: #2E8D43;

  --border-radius-tiny: 14px;
  --border-radius-small: 16px;
  --border-radius: 20px;
  --border-radius-big: 30px;
  --border-radius-huge: 39px;

  --font-family-base: 'Commissioner', sans-serif;

  --container-width: 1240px;
  --container-padding-x: 12px;

  --section-padding-y: 60px;

  --button-height: 33px;
  --button-height-big: 38px;
  --button-height-huge: 64px;

  --transition-duration: 0.2s;
}